@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Fabrikat';
    src: url('../assets/fonts/HvDTrial_FabrikatNormal-Regular.otf');
    /*        url('../assets/fonts/HvDTrial_FabrikatNormal-Black.otf'),*/
    /*url('../assets/fonts/HvDTrial_FabrikatNormal-BlackItalic.otf'),*/
    /*url('../assets/fonts/HvDTrial_FabrikatNormal-Bold.otf'),*/
    /*url('../assets/fonts/HvDTrial_FabrikatNormal-BoldItalic.otf'),*/
    /*url('../assets/fonts/HvDTrial_FabrikatNormal-Hairline.otf'),*/
    /*url('../assets/fonts/HvDTrial_FabrikatNormal-HairlineItalic.otf'),*/
    /*url('../assets/fonts/HvDTrial_FabrikatNormal-Light.otf'),*/
    /*url('../assets/fonts/HvDTrial_FabrikatNormal-LightItalic.otf'),*/
    /*url('../assets/fonts/HvDTrial_FabrikatNormal-Medium.otf'),*/
    /*url('../assets/fonts/HvDTrial_FabrikatNormal-MediumItalic.otf'),*/
    /*url('../assets/fonts/HvDTrial_FabrikatNormal-Regular.otf'),*/
    /*url('../assets/fonts/HvDTrial_FabrikatNormal-Thin.otf'),*/
    /*url('../assets/fonts/HvDTrial_FabrikatNormal-ThinItalic.otf');*/
}

* {
    font-family: 'Fabrikat', sans-serif;
}

option:disabled {
    color: #B3B3B3;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Fabrikat, sans-serif;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot, .mobile-dot {
    height: 30px;
    width: 15px;
    margin: 0 2px;
    background-color: #BED747;
    opacity: 0.4;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #BED747;
    opacity: 1;

}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {
        font-size: 11px
    }
}